.accordion-header {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.accordion-header:hover {
  background-color: #eee;
}

.accordion-image {
  width: 70px;
  position: absolute;
  left: 30px;
}

.accordion-indicator {
  position: absolute;
  font-size: 30px;
  right: 30px;
  top: 24px;
}

.accordion-body {
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
