.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion-header {
  cursor: pointer;
}

.accordion-header:hover {
  background-color: #eee;
}

.accordion-header .accordion-icon {
  width: 50px;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

.accordion-header .accordion-title {
  display: inline-block;
}

.accordion-header .accordion-state {
  font-size: 50px;
  float: right;
  padding-top: 6px;
  padding-right: 10px;
}

.accordion-body {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 30px;
}
