body {
  background: #eee;
}

:root {
  --opacity: 50%;
}

.stars {
  margin: 0;
  width: 40px;
  padding: 0;
  display: flex;
}

.stars a {
  opacity: var(--opacity);
  padding: 5px;
}

.stars:hover a {
  opacity: 100%;
  cursor: pointer;
}

.stars a:hover ~ a {
  opacity: var(--opacity);
}
