.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
}

.pokedex {
  background-color: red;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px white;
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  position: absolute;
  bottom: 20px;
}

form input {
  padding: 10px;
  outline: none;
  text-align: center;
}

form button {
  padding: 10px;
  text-align: center;
}

.mt-4 {
  margin-top: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  text-align: center;
}

.text-center {
  text-align: center;
}
