.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pokedex {
  background-color: red;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 20px;
  box-shadow: 5px 5px 20px white;
}

.pokedex form {
  position: absolute;
  bottom: 20px;
}

.pokedex form input {
  padding: 10px;
  outline: none;
}

.pokedex form button {
  padding: 10px;
}

.loading {
  margin-top: 100px;
}
