body {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 0;
}

.contact-banner {
  background-image: linear-gradient(
    to right,
    rgb(0, 114, 66) 0%,
    rgb(4, 109, 91) 100%
  );
  color: white;
  padding: 40px;
}

.invalid {
  border: 1px solid red;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

p {
  font-size: 20px;
}

.contact-description {
  margin-bottom: 40px;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  border: 1px solid rgb(0, 114, 66);
  font-size: 18px;
  outline: none;
  color: #333;
}

.form-control {
  font-size: 20px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.hide {
  opacity: 0;
}

textarea {
  width: 560px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 200px;
  font-size: 18px;
}

button {
  color: black;
  padding: 20px;
  border: 1px solid rgb(0, 114, 66);
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: rgb(0, 114, 66);
}

button:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 114, 66) 0%,
    rgb(4, 109, 91) 100%
  );
  color: white;
}

form {
  padding: 40px;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 1px;
  border: none;
  background-color: rgb(0, 114, 66);
}
