body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.ship {
  position: fixed;
}

.bullet {
  background-color: white;
  width: 4px;
  height: 4px;
  position: fixed;
}

.alien {
  position: fixed;
}

.score {
  position: fixed;
  color: white;
}

.lives {
  position: fixed;
  color: white;
}
