body {
  margin: 0;
  background-color: #222;
  /* font-family: "Walter Turncoat", cursive; */
  font-family: "Rock Salt", cursive;
}

.grid {
  /* margin: 0 auto;
          width: 800px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 950px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.name {
  bottom: 40px;
  position: absolute;
  left: 20px;
}

.name::after {
  content: " ";
  border-bottom: 3px solid cyan;
  width: 80px;
  bottom: -20px;
  display: block;
  position: absolute;
}

.floyd {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50%;
}

.taylor {
}

.gray {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.wrapper:hover .gray {
  background-color: rgba(0, 0, 0, 0);
}

.title {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

h1 {
  color: white;
}

a {
  color: white;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.inner {
  box-shadow: 2px 2px 10px #999;
  text-overflow: auto;
  width: 800px;
  margin: 0 auto;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 40px;
  height: 500px;
  overflow-y: auto;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}

.modal .inner h1 {
  color: black;
}

.modal .inner a {
  color: black;
}

.modal .inner .close {
  position: absolute;
  right: 40px;
  top: 40px;
}
