{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "chrome": "70",
          "edge": "42",
          "firefox": "63",
          "ie": "11",
          "safari": "12"
        }
      }
    ]
  ]
}
